<div class="table-data">
  <div class="order">
    <div class="head">
      <h3>My certificates</h3>
      <i class='bx bx-search'></i>
      <i class='bx bx-filter'></i>
    </div>
    <table>
      <thead>
      <tr>
        <th>Serial Number</th>
        <th>Type</th>
        <th>Valid From</th>
        <th>Valid To</th>
        <th>Status</th>
        <th class="button"></th>
        <th class="button"></th>
        <th class="button"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let certificate of certificatesOwned | paginate: { id: 'myCertificates', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
        <td><span>{{certificate.serialNumber}}</span></td>
        <td><span class="type">{{certificate.type}}</span></td>
        <td>{{ certificate.validFrom | date:'dd-MM-yyyy' }}</td>
        <td>{{ certificate.validTo | date:'dd-MM-yyyy' }}</td>
        <td><span class="status {{ certificate.status.toLowerCase() }}">{{ certificate.status }}</span></td>
        <td>
          <i class='download-button fa-regular fa-file-arrow-down'
             (click)="downloadCertificate(certificate.serialNumber)"></i>
        </td>
        <td>
          <i class='download-key fa-regular fa-key'
             (click)="downloadPrivateKey(certificate.serialNumber)"></i>
        </td>
        <td *ngIf="certificate.status == CertificateStatus.VALID">
          <i class='revoke-button fa-solid fa-circle-xmark'
             (click)="revokeCertificate(certificate.serialNumber)"></i>
        </td>
      </tr>
      </tbody>
    </table>

    <pagination-controls
      id="myCertificates"
      (pageChange)="onPageChanged($event)"
    >
    </pagination-controls>
  </div>
</div>
