<div class="container mt-5">
    <div class="row">
      <div class="col-4" *ngFor="let cert of certificates" style="max-width: 26rem;">
        <div class="card h-110" > 
            <div class="card border-light mb-4" style="max-width: 26rem;">
                <div class="card-header">{{cert.serialNumber}}</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                          <tr>
                            <td class="table-info" id="val" >issued to:</td>
                            <td id="date">{{cert.userEmail}}</td>
                          </tr>
                          <tr>
                            <td class="table-info" id="val">validity range:</td>
                            <td id="date">{{cert.validFrom | date:"dd.MM.yyyy"}} - {{cert.validTo | date:"dd.MM.yyyy"}}</td>
                          </tr>
                        </table>
                      </div>
                </div>
              </div>
              <div [ngClass]="getClassForCertificateType(cert.type)" id="type">
                <span>{{ cert.type.toString() | uppercase }}</span>
              </div>
        </div>
      </div>
    </div>
  </div>
  