<div class="card">
    <label>Please enter the code we sent you and your new password</label>
    <input placeholder="Verification ID" name="verificationId" [(ngModel)]="verificationID" id="inp">
    <input placeholder="New Password" name="password" id="inp" [(ngModel)]="newPassword" type="password">
    <input placeholder="Confirm New Password" name="confirmPassword" id="inp" [(ngModel)]="confirmPassword" type="password">
    <br>
    <button id="confirmBtn" class="ghost" (click)="changePassword()">CHANGE PASSWORD</button>
</div>