* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background:white;
    border-radius: 12px;
    border: 2px solid #dbd16a;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    min-height: 260px;
    padding: 30px 40px;
    margin:0 auto;
    margin-top: 150px;
}


input {
	background-color: #eee;
	border: none;
	padding: 11px 14px;
	margin: 8px 0;
	width: 100%;
}

button {
	border-radius: 20px;
	border: 1px solid #e0e199;
	background-color: #dbd16a;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    }
      
    
button:hover {
opacity: 0.8;
}

#select{
    text-align: left;
    margin:0px;
    margin:10px;
}

.confirmation-method-container{
    width:100%;
    margin-bottom: 10px;
}

label{
    width: 100%;
    text-align: left;
    color: #b3ab58;
    font-size: 18px;
    margin-bottom:5px;
}