<div class="table-data">
  <div class="order">
    <div class="head">
      <h3>Incoming requests</h3>
      <i class='bx bx-search'></i>
      <i class='bx bx-filter'></i>
    </div>
    <table>
      <thead>
      <tr>
        <th>Applicant</th>
        <th>Issuer SN</th>
        <th>Certificate type</th>
        <th>Valid To</th>
        <th class="button"></th>
        <th class="button"></th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let request of incomingCertificateRequests | paginate: { id: 'incomingCertificateRequests', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
        <td>
          <img ngSrc="assets/images/profile.png" width="60" height="40" alt="">
          <p>{{request.subjectUsername }}</p>
        </td>
        <td>{{request.issuerSN}}</td>
        <td><span class="type">{{request.certificateType}}</span></td>
        <td>{{ request.validTo | date:'dd-MM-yyyy' }}</td>
        <td>
          <i class='approve-button fa-solid fa-circle-check'
             (click)="approveRequest(request.id)">

          </i>
        </td>
        <td>
          <i class='reject-button fa-solid fa-circle-xmark'
             (click)="rejectRequest(request.id)"
          >
          </i>
        </td>
      </tr>
      </tbody>
    </table>

    <pagination-controls
      id="incomingCertificateRequests"
      (pageChange)="onPageChanged($event)"
    >
    </pagination-controls>
  </div>
</div>
