.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.spinner-container {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
