<form [formGroup]="loginForm">

  <h2 class="title">Sign in</h2>

  <app-form-field
    class="input"
    [formGroup]="loginForm"
    [controlName]="'email'"
    [type]="'email'"
    [icon]="'fas fa-user'"
    [placeholder]="'Email'"
    [errorMessages]="{
      email: 'Please enter a valid email'
    }"
  >
  </app-form-field>

  <app-form-field
    class="input"
    [formGroup]="loginForm"
    [controlName]="'password'"
    [type]="'password'"
    [icon]="'fas fa-lock'"
    [placeholder]="'Password'">
  </app-form-field>

  <p class="reset-password"
  >
    <span
      (click)="forgotPassword()"
    >
    Forgot Password?
    </span>
  </p>

  <re-captcha
    #recaptchaElement
    class="captcha"
    formControlName="recaptcha"
    siteKey="{{ siteKey }}"
    (resolved)="handleRecaptchaResponse($event)"
    reCaptchaValueAccessor
  >
  </re-captcha>

  <div class="g-recaptcha" data-sitekey="{{ siteKey }}"></div>

  <app-form-button
    [form]="loginForm"
    [buttonText]="'CONTINUE'"
    (onSubmit)="onFormSubmit()">
  </app-form-button>

  <p class="social-text">Or Sign in with social platforms</p>

  <div class="social-media">
    <asl-google-signin-button type='icon' size='large'></asl-google-signin-button>
  </div>
</form>
