<div class="container">
  <div class="arrow" (click)="navigateBack()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <header>
    <i class="fa fa-shield-halved"></i>
  </header>
  <h4>Enter OTP Code</h4>
  <form>
    <div class="input-field">
      <input
        #inputEl
        *ngFor="let input of inputs.controls; let i = index"
        (focus)="handleFocus($event)"
        (blur)="onTouched?.()"
        (keypress)="handleKeyPress($event, i)"
        (input)="handleInput()"
        (keydown)="handleKeyDown($event, i)"
        (paste)="handlePaste($event, i)"
        [formControl]="$any(input)"
        [attr.autocomplete]="i === 0 ? 'one-time-code' : null"
        type="text"
        inputmode="numeric"
      />
    </div>
    <app-form-button
      [form]="inputs"
      [buttonText]="'CONTINUE'"
      (onSubmit)="onFormSubmit()"
    >
    </app-form-button>
  </form>
</div>
