/* MAIN */
main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}

main::-webkit-scrollbar {
  display: none;
}

main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

main .head-title .left .breadcrumb li {
  color: var(--dark);
}

main .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}

main .head-title .left .breadcrumb li a.active {
  color: var(--blue);
  pointer-events: unset;
}

main .head-title .btn-download {
  cursor: pointer;
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--blue);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}


main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}

main .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
}

main .box-info li .fa {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .box-info li:nth-child(1) .fa {
  background: var(--light-blue);
  color: var(--blue);
}

main .box-info li:nth-child(2) .fa {
  background: var(--lightGreen);
  color: var(--green);
}

main .box-info li:nth-child(3) .fa {
  background: var(--light-orange);
  color: var(--orange);
}

main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

main .box-info li .text p {
  color: var(--dark);
}


main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}

main .table-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}

main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

main .table-data .head .fa {
  cursor: pointer;
}

main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}

main .table-data .order table {
  width: 100%;
  border-collapse: collapse;
}

main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}

th {
  width: 10%;
}

th.button {
  width: 4%;
}

main .table-data .order table td {
  padding: 16px 0;
}

main .table-data .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}

main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

main .table-data .order table tbody tr:hover {
  background: var(--grey);
}

main .table-data .order table tr td .status {
  font-size: 12px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}

main .table-data .order table tr td .status.approved {
  background: var(--green);
}

main .table-data .order table tr td .status.pending {
  background: var(--yellow);
}

main .table-data .order table tr td .status.expired {
  background: var(--orange);
}

main .table-data .order table tr td .status.rejected {
  background: var(--red);
}

main .table-data .order table tr td .type {
  font-size: 12px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;

  background: var(--dark-grey);
}

.approve-button {
  color: var(--green);
  cursor: pointer;
  transform: scale(1.5);
  padding: 0.25em;
}

.reject-button {
  color: var(--red);
  cursor: pointer;
  transform: scale(1.5);
  padding: 0.25em;
}

mat-paginator {
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
}

@media screen and (max-width: 576px) {
  main .box-info {
    grid-template-columns: 1fr;
  }

  main .table-data .head {
    min-width: 420px;
  }

  main .table-data .order table {
    min-width: 420px;
  }
}
