<form [formGroup]="resetPasswordForm">
  <h2 class="title">Reset Password</h2>

  <p class="activation-text">
    The code was sent to your email, enter it together with new password to reset.
  </p>

  <app-form-field
    class="input"
    [formGroup]="resetPasswordForm"
    [controlName]="'code'"
    [type]="'text'"
    [icon]="'fa-regular fa-message'"
    [placeholder]="'Verification code'"
  >
  </app-form-field>

  <app-form-field
    class="input"
    [formGroup]="resetPasswordForm"
    [controlName]="'password'"
    [type]="'password'"
    [icon]="'fas fa-lock'"
    [placeholder]="'Password'"
  >
  </app-form-field>

  <app-form-field
    class="input"
    [formGroup]="resetPasswordForm"
    [controlName]="'confirmPassword'"
    [type]="'password'"
    [icon]="'fas fa-lock'"
    [placeholder]="'Repeat password'"
    [errorMessages]="{
      matching: 'Passwords must match'
    }"
  >
  </app-form-field>

  <re-captcha
    #recaptchaElement
    class="captcha"
    formControlName="recaptcha"
    siteKey="{{ siteKey }}"
    (resolved)="handleRecaptchaResponse($event)"
    reCaptchaValueAccessor
  >
  </re-captcha>

  <div class="btn-container">
    <app-back-button
      [buttonText]="'BACK'"
      (onBack)="navigateBack()">

    </app-back-button>

    <app-form-button
      [form]="resetPasswordForm"
      [buttonText]="'RESET'"
      (onSubmit)="onFormSubmit()">
    </app-form-button>
  </div>
</form>
