<app-login-form
  class="step"
  [ngClass]="animationType + (currentStep === LoginStep.LoginForm ? ' active' : '')"
  (onBack)="onBack()"
  (onLoginSubmit)="handleLoginFormSubmit($event)"
>
</app-login-form>

<app-confirmation-method-form
  class="step"
  [ngClass]="animationType + (currentStep === LoginStep.ConfirmationMethodForm ? ' active' : '')"
  (onBack)="onBack()"
  (onConfirmationMethodSubmit)="handleConfirmationMethodFormSubmit($event)"
>

</app-confirmation-method-form>

<app-otp-form
  class="step"
  [ngClass]="animationType + (currentStep === LoginStep.OTPForm ? ' active' : '')"
  (onBack)="onBack()"
  (onOtpSubmit)="handleOTPFormSubmit($event)"
>

</app-otp-form>

<app-spinner *ngIf="loadingService.isLoading | async"></app-spinner>


