<form [formGroup]="loginForm" (ngSubmit)="login()" class="sign-in-form">

  <h2 class="title">Sign in</h2>

  <div class="input-field"
       [class.input-field-error]="loginForm.get('email')?.invalid &&
                                 loginForm.get('email')?.touched &&
                                 loginForm.get('email')?.errors?.['email']">
    <i class="fas fa-user"></i>
    <input type="email" placeholder="Email" formControlName="email" required/>
    <span class="error-text"
          *ngIf="loginForm.get('email')?.invalid &&
                 loginForm.get('email')?.touched &&
                 loginForm.get('email')?.errors?.['email']">
      Please enter a valid email
    </span>
  </div>

  <div class="input-field">
    <i class="fas fa-lock"></i>
    <input type="password" formControlName="password" placeholder="Password"/>
  </div>

  <re-captcha formControlName="recaptcha"
              siteKey="{{ siteKey }}"
              (resolved)="handleRecaptchaResponse($event)"
              reCaptchaValueAccessor
              class="captcha"
  >
  </re-captcha>

  <div class="g-recaptcha" data-sitekey="{{ siteKey }}"></div>
  <button [class.btn-disabled]="!loginForm.valid"
          type="submit"
          class="btn solid">Login
  </button>

  <p class="social-text">Or Sign in with social platforms</p>

  <div class="social-media">
    <asl-google-signin-button type='icon' size='large'></asl-google-signin-button>
  </div>

</form>
