form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.slide-container {
  display: none;
  transition: all 0.2s 0.7s;
}

.active-container {
  display: block;
}

.slide-in-left {
  animation: slide-in-left 2s forwards;
}

.slide-in-right {
  animation: slide-in-right 0.75s forwards;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.title2 {
  font-size: 1.6rem;
  color: #444;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: row;
  max-width: 400px;
}

.input-container .input-field {
  max-width: 190px;
  grid-template-columns: 32% 68%;
}

.input-container .input-field:first-child {
  margin-right: 1em;
}

.input-field {
  max-width: 400px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 14px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field-error {
  outline: 1px solid red;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.05rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.error-text {
  grid-column: span 2;
  font-size: 14px;
  font-weight: 400;
  color: red;
  margin-left: 20px;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.btn:hover {
  background-color: #4d84e2;
}

.btn-disabled {
  background-color: #4d84e2;
  cursor: auto;
}


/*Confirmation method pick*/
.icon-holder {
  background: var(--light-blue);
  margin-bottom: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 68px;
  height: 68px;
  border-radius: 60px;
}

.shield-icon {
  font-size: 42px;
  color: var(--blue);
}

.radio-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 14px;
}

.radio-list {
  max-width: 400px;
  width: 100%;
}

.radio-item [type="radio"] {
  display: none;
}

.radio-item + .radio-item {
  margin-top: 15px;
}

.radio-item label {
  display: block;
  padding: 20px 60px;
  border: 1.5px solid #C0C0C0;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.05rem;
  min-width: 250px;
  white-space: nowrap;
  position: relative;
  color: #333;
}

.radio-item label:after,
.radio-item label:before {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.radio-item label:after {
  height: 20px;
  width: 20px;
  border: 2px solid var(--blue);
  left: 20px;
  top: calc(50% - 12px);
}

.radio-item label:before {
  background: var(--blue);
  height: 10px;
  width: 10px;
  left: 27px;
  top: calc(50% - 5px);
  transform: scale(5);
  transition: .4s ease-in-out 0s;
  opacity: 0;
  visibility: hidden;
}

.radio-item [type="radio"]:checked ~ label {
  border-color: var(--blue);
}

.radio-item [type="radio"]:checked ~ label:before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
