.dropdown {
  width: 100%;
  min-width: 15em;
  position: relative;
  height: 100%;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  user-select: none;
  height: 100%;
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 15% 75% 10%;
  border: 2px #2a2f3b;
  border-radius: 55px;
  padding: 0 0.4rem;
  margin: 14px 0;
  cursor: pointer;
  transition: background 0.3s;
}

.select-clicked {
  background-color: var(--bg-color);
  outline: 2px solid var(--light-main-color);
}

.select i {
  text-align: center;
  color: #acacac;
  line-height: 55px;
  transition: 0.5s;
  font-size: 1.1rem;
}

.selected {
  line-height: 55px;
  font-weight: 600;
  font-size: 1.05rem;
  color: #333;
}

.placeholder {
  color: #aaa;
  font-weight: 500;
}

.caret {
  position: absolute;
  top: 25px;
  right: 25px;

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--light-text-color);
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: white;
  border: 1px var(--input-bg) solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  top: 3.75em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 1em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;

  font-family: inherit;
  color: var(--text-color);
  font-weight: 600;
  font-size: 0.95rem;
}

.menu li:hover {
  background: var(--grey);
}

.active {
  background: var(--grey);
}

.menu-open {
  display: block;
  opacity: 1;
}
