<app-auth-form
  class="step"
  (formCompleted)="nextStep($event)"
  [ngClass]="animationType + (currentStep === RegisterStep.AuthForm ? ' active' : '')"
>
</app-auth-form>

<app-more-info-form
  class="step"
  (formCompleted)="formCompleted($event)"
  (goBack)="previousStep()"
  [ngClass]="animationType + (currentStep === RegisterStep.MoreInfoForm ? ' active' : '')"
>
</app-more-info-form>

<app-activation-form
  class="step"
  (onActivated)="reset()"
  [confirmationData]="confirmationData"
  [ngClass]="animationType + (currentStep === RegisterStep.AccountActivationForm ? ' active' : '')"
>
</app-activation-form>

<app-spinner *ngIf="loadingService.isLoading | async"></app-spinner>
