<form [formGroup]="renewPasswordForm">
  <h2 class="title">Renew Password</h2>

  <p class="activation-text">
    For security purposes, you are required to renew your password. Please set a new password.
  </p>

  <app-form-field
    class="input"
    [formGroup]="renewPasswordForm"
    [controlName]="'password'"
    [type]="'password'"
    [icon]="'fas fa-lock'"
    [placeholder]="'Password'"
  >
  </app-form-field>

  <app-form-field
    class="input"
    [formGroup]="renewPasswordForm"
    [controlName]="'confirmPassword'"
    [type]="'password'"
    [icon]="'fas fa-lock'"
    [placeholder]="'Repeat password'"
    [errorMessages]="{
      matching: 'Passwords must match'
    }"
  >
  </app-form-field>

  <div class="btn-container">
    <app-back-button
      [buttonText]="'BACK'"
      (onBack)="navigateBack()">

    </app-back-button>

    <app-form-button
      [form]="renewPasswordForm"
      [buttonText]="'ACTIVATE'"
      (onSubmit)="onFormSubmit()">
    </app-form-button>
  </div>
</form>
