<form [formGroup]="confirmationMethodForm">
  <div class="icon-holder">
    <i class="fa-solid fa-shield-halved shield-icon"></i>
  </div>

  <h2 class="title2">Choose confirmation method</h2>

  <section class="radio-section">
    <div class="radio-list">
      <div class="radio-item">
        <input type="radio" formControlName="confirmationMethod" value="email" id="emailOption">
        <label for="emailOption">Email</label>
      </div>
      <div class="radio-item">
        <input type="radio" formControlName="confirmationMethod" value="sms" id="smsOption">
        <label for="smsOption">SMS</label>
      </div>
    </div>
  </section>

  <div class="btn-container">
    <app-back-button
      [buttonText]="'BACK'"
      (onBack)="navigateBack()">

    </app-back-button>

    <app-form-button
      [form]="confirmationMethodForm"
      [buttonText]="'CONTINUE'"
      (onSubmit)="onFormSubmit()">
    </app-form-button>
  </div>
</form>
