<form [formGroup]="moreInfoForm">
  <h2 class="title">Additional Info</h2>

  <div class="input input-container">
      <app-form-field
        class="input-field"
        [formGroup]="moreInfoForm"
        [controlName]="'name'"
        [type]="'text'"
        [icon]="'fas fa-user'"
        [placeholder]="'Name'"
        [errorMessages]="{
          pattern: 'Only characters allowed',
          minLength: 'Must have atleast 3 characters'
        }"
      >
      </app-form-field>


      <app-form-field
        class="input-field"
        [formGroup]="moreInfoForm"
        [controlName]="'surname'"
        [type]="'text'"
        [icon]="'fas fa-user'"
        [placeholder]="'Surname'"
            [errorMessages]="{
          pattern: 'Only characters allowed',
          minLength: 'Must have atleast 3 characters'
        }"
      >
      </app-form-field>
  </div>

  <app-form-field
    class="input"
    [formGroup]="moreInfoForm"
    [controlName]="'telephoneNumber'"
    [type]="'text'"
    [icon]="'fas fa-phone'"
    [placeholder]="'Phone number'"
    [errorMessages]="{
      pattern: 'Incorrect phone format',
      minLength: 'Must have atleast 5 characters'
    }"
  >
  </app-form-field>

  <app-dropdown formControlName="confirmationMethod"
                [options]="['Email', 'SMS']"
                [placeholder]="'Select confirmation method'"
                class="confirmation-method">

  </app-dropdown>

  <re-captcha
    #recaptchaElement
    class="captcha"
    formControlName="recaptcha"
    siteKey="{{ siteKey }}"
    (resolved)="handleRecaptchaResponse($event)"
    reCaptchaValueAccessor
  >
  </re-captcha>

  <div class="btn-container">
    <app-back-button
      [buttonText]="'BACK'"
      (onBack)="navigateBack()">

    </app-back-button>

    <app-form-button
      [form]="moreInfoForm"
      [buttonText]="'FINISH'"
      (onSubmit)="onFormSubmit()">
    </app-form-button>
  </div>
</form>
