<form [formGroup]="authForm">
  <h2 class="title">Sign up</h2>

  <app-form-field
    class="input"
    [formGroup]="authForm"
    [controlName]="'email'"
    [type]="'email'"
    [icon]="'fas fa-envelope'"
    [placeholder]="'Email'"
    [errorMessages]="{
      email: 'Please enter a valid email'
    }"
  >
  </app-form-field>

  <app-form-field
    class="input"
    [formGroup]="authForm"
    [controlName]="'password'"
    [type]="'password'"
    [icon]="'fas fa-lock'"
    [placeholder]="'Password'">
  </app-form-field>

  <app-form-field
    class="input"
    [formGroup]="authForm"
    [controlName]="'confirmPassword'"
    [type]="'password'"
    [icon]="'fas fa-lock'"
    [placeholder]="'Confirm password'"
    [errorMessages]="{
      matching: 'Passwords must match'
    }"
  >
  </app-form-field>

  <app-form-button
    [form]="authForm"
    [buttonText]="'CONTINUE'"
    (onSubmit)="onSubmit()">
  </app-form-button>
</form>
