<!--<form *ngIf="activating" [formGroup]="activateForm" (ngSubmit)="activate()" class="sign-up-form">-->
<!--  <h4 class="title2">Enter Code For Activating</h4>-->
<!--  <div class="input-field">-->
<!--    <i class="fas fa-lock"></i>-->
<!--    <input type="text" formControlName="code" placeholder="Activation Code"/>-->
<!--  </div>-->
<!--  <div>-->
<!--    <re-captcha formControlName="recaptcha" siteKey="{{ siteKey }}"-->
<!--                (resolved)="handleRecaptchaResponseAct($event)" reCaptchaValueAccessor></re-captcha>-->
<!--  </div>-->
<!--  <button [class.btn-disabled]="!activateForm.valid" type="submit" class="btn solid">SUBMIT</button>-->
<!--</form>-->
